section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    margin-top: 100px;
    margin-bottom: 0px;
}

#searchBar {
    margin: 50px 0px 20px 0px;
    padding: 10px 15px 10px 15px;
    width: 500px;
    
    border-radius: 20px;
    border-width: 0.5px;
    border-color: #D3D3D3;
    
    background-color: transparent;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

#search, #surprise {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;

    padding: 10px 25px 10px 25px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    width: 125px;
}

a {
    margin-bottom: 5px;

    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #273BE2
}

p {
    margin-top: 2px;

    font-family: 'Source Sans Pro', sans-serif;
}

.hide {
   position: relative;
   overflow: hidden;
}


